<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jasmine.TypeScript.DefinitelyTyped" version="1.9.8" targetFramework="net452" />
  <package id="jasminejs" version="2.3.4" targetFramework="net452" />
  <package id="linq.js" version="3.0.4-beta5" targetFramework="net452" />
</packages>